<h1>helllo we are on forget password page</h1>

<form action="/users/forgetEmail" method="post">
    <input type="email" name="email" placeholder="enter registered email">
    <input type="submit" value="send">
</form>