<form action="/users/changedone/<%=token%>" method="post">
    <input type="text" name="password" placeholder="enter new password">
    <input type="text" name="confirmPassword" placeholder="confirm new password">
    <input type="submit" value="submit">
</form>
<h1><%=token%></h1>