<h1>helllooooo this is user sign up</h1>

<form action="/users/create" method="Post">
    <input type="text" name="name" required placeholder="name">
    <input type="text" name="email" required placeholder="email">
    <input type="password" name="password" required placeholder="password">
    <input type="password" name="confirm_password" required placeholder="confirm password">
    <input type="submit" value="signup">




</form>