<h1>helllooooo this is user sign up</h1>

<form action="user/create" method="Post">
    <input type="text" name="name" required placeholder="name">
    <input type="text" name="emil" required placeholder="email">
    <input type="passowrd" name="password" required placeholder="password">
    <input type="password" name="confirm_passowrd" required placeholder="confirm password">
    <input type="submit" value="signup">




</form>