<h1>helloooo we are on user-sign-in</h1>
<form action="/users/create-session" method="Post">
    <input type="text" name="name" required placeholder="name">
    <input type="text" name="emil" required placeholder="email">
    <input type="submit" value="signin">
</form>